{% extends 'blogapp/base.html' %}
{% block content %}
<div class="container">
    {% if all_post%}
        <h2 class="mt-2 mb-1 display-4">Wecome to the posts page! </h2>
        {% for post in all_post %}
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            <a href="{% url 'post_detail' post.pk %}" class="text-secondary">{{ post.title }} | <small class="text-muted">{{ post.author.username }}</small></a>
                        </h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4 class="mt-2 mb-1 display-4">Sorry! There is no post is the database right now!</h4>
    {% endif %}
</div>
{% endblock %}